<div class="container">
  <div class="row">
    <div class="three columns">&nbsp;</div>
    <div class="nine columns">
      <h1>About Us</h1>
    </div>
  </div>
  <div class="row">
    <div class="three columns">
      <ul class="nav-items">
        <%= link_to content_tag(:li, "Home", class: 'nav-item'), root_path, class: 'nav-item-link' %>
        <%= link_to content_tag(:li, "Contact", class: 'nav-item'), contact_path, class: "nav-item-link" %>
      </ul>
    </div>
    <div class="nine columns">
      <p>The current state of erotica is primarily composed to two different sites: literotica and asstr, each aging sites with little overall search ability and minimal features.</p>
      <p>My goal with ============== is to bring eroitca back into a more modern web standard, using better search methods and better features, specifically the ability to download and read these books offline in an .epub format.  I don't want to misslead anyone, this is going to be a long process.  I'm a team of one working a job and going to schoo, but right off of the bat we can use technology such as <%= link_to "elasticsearch", 'https://github.com/elastic/elasticsearch', target: '_blank' %> and the power of Ruby on Rails to build and maintain a capable site.</p>
      <h3>The future (last updated Jan, 2017)</h3>
      <p>There are a couple plans I have for now, and the immediate future.</p>
      <p>Idealy the site will be up as soon as possible, even with what will likely be some flaws.  After creating a safe, usable site, my main goal will be building elasticsearch into the site, increasing the number of books availible, and incrementing it to be better and better.</p>
      <p>A breakdown of what I'm currently planning should look something like this.</p>
      <ul class="general-list">
        <li class="general-list-item">Public domain population</li>
        <li class="general-list-item">Elastic search integration</li>
        <li class="general-list-item">Improved site design</li>
        <li class="general-list-item">Advertiser integration</li>
        <li class="general-list-item">.epub download availibility</li>
      </ul>
      <p>As you will notice, advertiser integration is a topic and a necessity for this site.  Although I would of course rather not have ads, they are necessary, and the plan is to keep them as reasonable as possible.  Additionally although I am going to wait to see how the site advertising does, I currently am strongly considering an additional subscription model.  This would likely be around the order of ~$2 a month and would remove ads, as well as it may include the ability to download .epub books (the reason for this is that generating ebooks produces no ad revenue, however does drain server resources significantly faster than just reading the books online).  Again I'd like to reiterate that this is not set in stone, but I'd like to be as clear and open as possible as for the future of our site.</p>
      <p>Additinoally I will be communicating with parts of the community, especially on features/the future of the site.  I predict this will mostly be done through <%= link_to "reddit.com/r/erotica", 'https://www.reddit.com/r/erotica', target: '_blank' %>, however I am open to other forms of communication, as well as simply emails to our <%= link_to "contact", contact_path %> page.  Especially, however, if you've found a reoccuring bug please email me so I may fix it.</p>
      <h3>Public domain population</h3>
      <p>When I refer to public domain population, I'm referring to finding erotica online that is currently either public domain or free use.  I intend to follow copyright laws to the best of my ability, and copyright violations will be taken very seriously, however many authors, most frequently those on asstr.org, have either listed their books as free use or are letting the copyright expire early, opening it up for me to repost on this site while giving the original poster full credit/linking to their orininal work.  If you have had your content posted from this project, don't be afriad to contact me.  I'd be more than happy to try and return the account to your control, or work with you on any other changes.</p>
      <p>I'd like to remind everyone one last time that nothing on this page is certain, but is a general guidline for how I see the site growing and handling certain issues.  I'm always open to new comments or suggestions, so don't be afrait to contact me if you feel the need to.</p>
    </div>
  </div>
  <div class="row">
    <div class="three columns">&nbsp;</div>
    <div class="nine columns">
    </div>
  </div>
</div>
