<div class="container">
  <div class="row">
    <div class="three columns">&nbsp;</div>
    <div class="nine columns">
      <h1>Forgot your password?</h1>
    </div>
  </div>
  <div class="row">
    <div class="three columns">
      <ul class="nav-items">
        <%= link_to content_tag(:li, "Cancel", class: 'nav-item'), root_path, class: "nav-item-link" %>
      </ul>
    </div>
    <div class="nine columns">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="actions">
          <%= f.submit "Send me reset password instructions" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
