<div class="container">
  <div class="row">
    <div class="three columns">&nbsp;</div>
    <div class="nine columns">
      <h1><%= "#{@book.title} | #{@book.volumes} chapters" %></h1>
    </div>
  </div>
  <div class="row">
    <div class="three columns">
      <ul class="nav-items">
        <%= link_to content_tag(:li, "Home", class: 'nav-item'), books_path, class: 'nav-item-link' %>
        <%= link_to content_tag(:li, User.find(@book.user_id).name, class: 'nav-item'), user_path(@book.user_id), class: 'nav-item-link' %>
        <% if user_signed_in? && current_user.id == @book.user_id %>
          <%= link_to content_tag(:li, "Edit", class: 'nav-item'), edit_book_path(@book), class: 'nav-item-link' %>
        <% end %>
        <%= link_to content_tag(:li, "Publish a book", class: 'nav-item'), new_book_path, class: 'nav-item-link' %>
      </ul>
    </div>
    <div class="nine columns">
      <p><%= @book.description %></p>
      <% unless @chapters.empty? %>
        <% @chapters.each do |chapter| %>
          <%= link_to content_tag(:p, "#{chapter.title} | #{chapter.description} [#{chapter.tags}]"), chapter_path(chapter), class: 'book-list-item' %>
        <% end %>
      <% else %>
        <p>Unfortunately it looks as though there are no chapters in this book.</p>
        <% if user_signed_in? && current_user.id == @book.user_id %>
          <p>If you own this book you may further edit it <%= link_to "here", edit_book_path(@book) %></p>
        <% end %>
      <% end %>
      <div class="pagination">
      </div>
    </div>
  </div>
</div>
