<h1>Chapter#show</h1>
<p>Find me in app/views/chapter/show.html.erb</p>

<p>
  <strong>Title:</strong>
  <%= @chapter.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @chapter.description %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @chapter.tags %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @chapter.volume %>
</p>

<p>
  <strong>Content:</strong>
  <%= @markdown.render(@chapter.content).html_safe %>
</p>

<br/>
<h4>Comments</h4>
<!-- displays comments -->
<% @comments.each do |comment| %>
  <%= @markdown.render(comment.content).html_safe %>
  <%= User.find(comment.user_id).name %> - 
  <%= link_to "Delete", [comment.chapter, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<!-- Creates new comment -->
<%= render 'form' %>

<%= link_to 'Edit', edit_book_path(@chapter.book_id) %> |
<%= link_to 'Back', book_path(@chapter.book_id) %>
