<div class="container">
  <div class="row">
    <div class="three columns">&nbsp;</div>
    <div class="nine columns">
      <h1><%= @chapter.title %></h1>
      <% if user_signed_in? && current_user.id == @chapter_user_id %>
        <%= @markdown.render(@chapter.description).html_safe %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="three columns">
      <ul class="nav-items">
        <%= link_to content_tag(:li, "Home", class: 'nav-item'), root_path, class: "nav-item-link" %>
        <div><%= content_tag(:li, "#{@chapter.tags}", class: 'nav-item') %></div>
        <!-- PLEASE ENCORPERATE USER_ID INTO CHAPTER, THIS IS SO REDICULOUS -->
        <%= link_to content_tag(:li, "#{User.find(@chapter.user_id).name}", class: 'nav-item'), user_path(@chapter.user_id), class: "nav-item-link" %>
        <% if user_signed_in? && current_user.id == @chapter.user_id %>
          <%= link_to content_tag(:li, "Edit", class: 'nav-item'), edit_book_path(@chapter.book_id), class: "nav-item-link" %>
        <% end %>
      </ul>
    </div>
    <div class="nine columns">
      <%= @markdown.render(@chapter.content).html_safe %>
      <% if @chapter.hits > 112 %>
        <h5 class="hit-counter"><%= @chapter.hits %> hits</h5>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="three columns">&nbsp;</div>
    <div class="nine columns">
      <h4>Comments</h4>
      <!-- displays comments -->
      <% @comments.each do |comment| %>
        <div class="row">
          <div class="three columns">
            <%= User.find(comment.user_id).name %> -
            <%= link_to "Delete", [comment.chapter, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
          <div class="nine columns">
            <%= @markdown.render(comment.content).html_safe %>
          </div>
        </div>
      <% end %>
      <!-- Creates new comment -->
      <%= render 'form' %>
    </div>
  </div>
</div>
