<h1>Chapter#show</h1>
<p>Find me in app/views/chapter/show.html.erb</p>

<p>
  <strong>Title:</strong>
  <%= @chapter.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @chapter.description %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @chapter.tags %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @chapter.volume %>
</p>

<p>
  <strong>Content:</strong>
  <%= @chapter.content %>
</p>

<!-- displays comments -->
<% @comments.each do |comment| %>
  <p><%= comment.content %>
   <%= link_to "Delete", [comment.chapter, comment], method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>

<!-- Creates new comment -->
<%= render 'form' %>

<%= link_to 'Edit', edit_book_path(@chapter.book_id) %> |
<%= link_to 'Back', book_path(@chapter.book_id) %>
